<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Name Letters</title>
  </head>

  <body>
    <!-- Write your code here -->

    <% if (locals.numberOfLetters) { %>
    <h1>Ther are <%=numberOfLetters%> letters in your fullname</h1>
    <% } else { %>
    <h>Write your name below</h>
    <% } %>

    <form action="/submit" method="POST">
      <input type="text" name="fName" id="fName" placeholder="First name" />
      <input type="text" name="lName" placeholder="Last name" />
      <input type="submit" value="OK" />
    </form>
  </body>
</html>
